<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204243442509-80i0jia3onknut04b31b0ggo6v2fmbb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204243442509-80i0jia3onknut04b31b0ggo6v2fmbb3</string>
	<key>API_KEY</key>
	<string>AIzaSyBFwW3JdfQ2-605oPptQWtGoU_Rx7IZupQ</string>
	<key>GCM_SENDER_ID</key>
	<string>204243442509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ab44a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ab44a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204243442509:ios:6269701011d7b94b47f504</string>
</dict>
</plist>